### This is a markdown cell

<h1>Pyhton fundamentals</h1>

***

### Variables
***

In [1]:
# Integer
i = 1

# Float
f = 1.0

# String
c = 'c'

# String
s = "Hello world"

# Quotes in strings
t = "I can't believe it"

# Booleans
b = True

In [2]:
i

1

In [3]:
f

1.0

In [4]:
i + f

2.0

In [5]:
f + f

2.0

In [6]:
type(t)

str

In [7]:
t

"I can't believe it"

In [8]:
s + t

"Hello worldI can't believe it"

<br>

# Conditionals
***

In [9]:
i = 15

In [10]:
if i < 0:
    print(i, "is negative")
elif i % 2 == 0:
    print(i, "is even")
    print("another statement. Watch indentation")
else:
    print(i, "is odd")

15 is odd

In [11]:
if i < 0:
    print(i, "is negative")
else:
    if i % 2 == 0:
        print(i, "is even")
    else:
        print (i, "is odd")

15 is odd

# Lists 
***

In [12]:
r = [1, 2, 3]

In [13]:
r[0]

1

<br>

# Iteration

***

In [14]:
for item in r:
    print(item)
for item in r:
    print(item*item)
print("Thats all")

1
2
3
1
4
9
Thats all

In [15]:
i = 10
while i > 0:
    print(i)
    i = i -1

10
9
8
7
6
5
4
3
2
1

In [16]:
range(10)

range(0, 10)

In [17]:
list(range(10))
# range function is a generator, we can wrap in a list to display all values

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
# Parameters are (start, up to, increments)
list(range(2, 10, 2))

[2, 4, 6, 8]

In [19]:
# Parameters are (start, up to, increments)
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

<br>

# Functions

***

In [20]:
# Define function (def)
def square(i):
    return i * i

In [21]:
square(9)

81

In [22]:
# If j is not supplied to the function, default of 2 is implemented 
def power(i, j=2):
    result = 1
    for k in range(j):
        result = result * i
    return result

In [23]:
power(9)

81

In [24]:
# 9*9*9
power(9, 3)

729

In [25]:
# 10^2
10**2

100